<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>kjeldsen-mvn-snapshots</id>
            <username>aws</username>
            <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>kjeldsen-mvn-snapshots</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>kjeldsen-mvn-snapshots</id>
                    <url>https://kjeldsen-040156513434.d.codeartifact.eu-west-1.amazonaws.com/maven/mvn-snapshots/</url>
                </repository>
            </repositories>
        </profile>
    </profiles>
</settings>