name: GitHub Actions Demo

run-name: ${{ github.actor }} fired main workflow

on:
  push:
    branches: [ main ]

jobs:

  main-workflow:

    runs-on: ubuntu-20.04

    steps:

      - uses: actions/checkout@v3

      - uses: actions/setup-java@v3
        with:
          distribution: 'corretto'
          java-version: '17'

      - name: Build
        run: mvn clean install -U