label {
  padding: 0.5em;
}

h1, h2 {
  line-height: 2;
}

.meta {
  display: inline;
  padding-right: 1em;
}

.win {
  color: green;
  font-style: italic;
}

.lose {
  color: red;
  font-style: italic;
}

#plot-placeholder {
  margin-top: 2em;
  width: 100%;
  height: 400px;
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-divider {
  display: inline-block;
  margin-top: 2em;
  margin-bottom: 1em;
  padding: 0.2em 1em 0.2em 2em;
}

#selected-positions-box {
  height: 100%;
  background-repeat:no-repeat;
  background-image: url('pitch.png');
  margin-left: 2em;
}

.heatmap {
  background-repeat:no-repeat;
  background-image: url('pitch.png');
}

.callout {
  background-color: #fff;
  border: 1px solid #e4e7ea;
  border-left: 4px solid #c8ced3;
  border-radius: .25rem;
  margin: 1rem 0;
  padding: .75rem 1.25rem;
  position: relative;
}

.callout h4 {
  font-size: 1.3125rem;
  margin-top: 0;
  margin-bottom: .8rem
}
.callout p:last-child {
  margin-bottom: 0;
}

.callout-primary {
  background-color: #cfe2ff;
  border-left-color: #052c65;
}